<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <p>This is my First webpage</p>
    </div>
    <div>
        <p>Using <span><strong>Django</strong></span></p>
        <a href="http://localhost/django.html"><i>Django Web</i></a>
    </div>
    <div>
        <h2><a href=""> Posting 1</a></h2>
        <p>Posting pertamaku</p>
        <p>29-08-2010</p>
    </div>
    <div>
        <h2><a href="">Posting 2 </a> </h2>
        <p style="font size:7">29-09-2010</p>

    </div>
</body>
</html>